<!DOCTYPE html>
<html>
  <head>
    <title>xCore</title>
    <!-- Styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/core.css' />

    <!-- Javascript -->
    <script src="/javascripts/core.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
